* {
  box-sizing: border-box;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: #222;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
}

.square {
  width: 16px;
  height: 16px;
  background: #505050;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}

.link {
  color: white;
  background-image: url("../img/logo-white.svg");
}
