@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

.body {
  background-color: #eee;
}

.container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  overflow: hidden;
}

.slide {
  position: relative;
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  color: white;
  transition: all .5s ease-in-out;
}

.slide h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-size: 2em;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity .3s ease-in .4s;
}